@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400&display=swap');  

body{
    background-image: url(./img/background-1.png);
    background-size: 100%;
    font-family: 'roboto';
    overflow-y: hidden;
}

img{
    position: fixed;
    top: 50px;
    right: 45%;
    width: 65%;
    filter: drop-shadow(105px 90px 200px #000000);
}

.content{
    display: flex;
    position: relative;
    align-items: center;
    
}

.content .text-box{
    justify-content: space-between;
    margin-left: 70%;
    line-height: 10px;
    max-width: 400px;
}

.content .text-box h2{
    display: flex;
    color: white;
    font-size: 4rem;
    font-weight: 900;
}

.content .text-box p{
    line-height: 25px;
    color: white;
}

.cruzeiro{
    width: 30%;
    position: relative;
    left: 32%;
}

.vedacit{
    width: 15%;
    position: fixed;
    top: 42%;
    right: 20%;
}

.minas{
    width: 6%;
    position: fixed;
    top: 43%;
    left: 90%;
}

.primeiro{
    position: fixed;
    top: 53%;
    right: 14.5%;
    font-size: 3rem;
}

.segundo{
    position: fixed;
    top: 55%;
    right: 25.5%;
    font-size: 3rem;
}

.terceiro{
    position: fixed;
    top: 55%;
    right: 5%;
    font-size: 3rem;
}

.br-logo{
    position: fixed;
    width: 15%;
    right: 84%;
    top: 2%;
}